@charset "UTF-8";
/* 防止用户自定义背景颜色对网页的影响 */
html {
  color: #333333;
  background: #f6f6f6; }

/* 始终不显示滚动条 */
body {
  overflow-x: hidden;
  /*隐藏水平滚动条*/ }

* {
  box-sizing: border-box;
  font-size: 12px; }

/* 内外边距重置 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
  font-size: 12px;
  word-wrap: break-word;
  color: #333333; }

input, select, textarea {
  font-size: 100%;
  outline: none; }

div:focus {
  outline: none; }

/* 去掉各Table  cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* IE bug fixed: th 不继承 text-align*/
th {
  text-align: inherit; }

/* 去除默认边框 */
fieldset, img {
  border: 0; }

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
  display: block; }

/* 去掉 firefox 下此元素的边框 */
abbr, acronym {
  border: 0;
  font-variant: normal; }

/* 去掉列表前的标识, li 会继承 */
ol, ul, li {
  list-style: none; }

/* 左对齐排版 */
caption, th {
  text-align: left; }

/* 让标题都自定义 */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500; }

q:before, q:after {
  content: ''; }

/* 让链接在 hover 状态下不显示下划线 */
a:hover {
  text-decoration: none; }

a:visited {
  color: #333333; }

/* 默认不显示下划线 */
ins, a {
  text-decoration: none; }

/* button的cursor属性 */
button, a {
  outline: none;
  cursor: pointer; }

/*hr统一样式*/
input {
  border: 0 none; }

a {
  color: #999; }

hr {
  height: 1px;
  border: none;
  border-top: 1px solid #CCCCCC; }

/*常用属性*/
.clearfix:after {
  content: '';
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
  zoom: 1; }

.fl {
  float: left; }

.fr {
  float: right; }

.container {
  width: 1090px;
  margin: 0 auto; }

.de2634 {
  color: #de2634; }

.heightAuto {
  height: auto; }

#kaola {
  position: relative; }

.your-mount-right span {
  border: 1px solid #999;
  margin: 0;
  height: 22px;
  line-height: 16px;
  width: 23px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer; }

.your-mount-right input {
  border: 1px solid #999;
  border-left: 0;
  border-right: 0;
  width: 48px;
  height: 22px;
  padding: 4px 5px;
  text-align: center; }

#topUserNav {
  height: 30px;
  background: #000;
  color: #666;
  background: #f2f2f2; }
  #topUserNav ul .person:hover {
    background: #fff; }
    #topUserNav ul .person:hover i {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg); }
    #topUserNav ul .person:hover .Menu {
      display: block; }
  #topUserNav ul li {
    position: relative; }
    #topUserNav ul li:nth-of-type(3) i {
      color: #de2634; }
    #topUserNav ul li .Menu {
      position: absolute;
      top: 30px;
      z-index: 1;
      padding: 4px 15px 12px 14px;
      background: #fff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
      display: none; }
      #topUserNav ul li .Menu a {
        display: block;
        line-height: 28px; }
        #topUserNav ul li .Menu a span {
          white-space: nowrap; }
    #topUserNav ul li a {
      font-size: 12px;
      padding: 0 14px 0 8px;
      line-height: 30px;
      color: #666; }
      #topUserNav ul li a:hover {
        color: #de2634; }
      #topUserNav ul li a i {
        color: #333; }
    #topUserNav ul li span {
      display: inline-block; }

#SearchCar {
  background-color: #fff; }
  #SearchCar .container {
    width: 1090px;
    height: 100px;
    padding-top: 20px; }
    #SearchCar .container .bigLogo h1 {
      width: 330px;
      height: 60px; }
      #SearchCar .container .bigLogo h1 a {
        color: red; }
        #SearchCar .container .bigLogo h1 a i {
          font-size: 30px; }
    #SearchCar .container .search {
      width: 511px;
      height: 36px;
      background: #333;
      padding: 0 0 0 2px;
      position: relative; }
      #SearchCar .container .search .wrap {
        background: #fff;
        height: 32px;
        width: 458px;
        margin-top: 2px; }
        #SearchCar .container .search .wrap .searchInput {
          margin-top: 4px;
          width: 423px;
          height: 24px;
          line-height: 24px; }
        #SearchCar .container .search .wrap i {
          color: #999;
          font-size: 16px;
          display: inline-block;
          position: static;
          padding-left: 5px; }
      #SearchCar .container .search i {
        font-size: 23px;
        color: #fff;
        position: absolute;
        right: 15px;
        top: 7px;
        cursor: pointer; }
      #SearchCar .container .search .goodsSearch li:first-of-type {
        color: red; }
      #SearchCar .container .search .goodsSearch li a {
        line-height: 22px; }
        #SearchCar .container .search .goodsSearch li a:hover {
          text-decoration: underline; }
      #SearchCar .container .search .goodsSearch li span {
        display: inline-block;
        padding: 0 10px; }
    #SearchCar .container .goodsCar {
      border: 1px solid #ddd;
      text-align: center;
      border-radius: 2px; }
      #SearchCar .container .goodsCar:hover {
        background: #eee; }
      #SearchCar .container .goodsCar .car {
        line-height: 36px;
        color: #333;
        display: inline-block;
        font-size: 14px;
        width: 110px;
        height: 36px; }

#leaderNav {
  background: #fff;
  border-bottom: 2px solid #333;
  position: relative; }
  #leaderNav .allGoods {
    position: absolute;
    display: inline-block; }
    #leaderNav .allGoods span {
      color: #fff;
      text-align: center;
      line-height: 40px;
      display: inline-block;
      background: #151515;
      width: 160px;
      height: 42px;
      font-size: 14px;
      position: relative; }
      #leaderNav .allGoods span em {
        width: 16px;
        display: block;
        position: absolute;
        top: 15px;
        left: 20px; }
        #leaderNav .allGoods span em i {
          display: block;
          line-height: 4px;
          height: 4px; }
  #leaderNav .allGoodsModel {
    position: absolute;
    margin-top: -42px;
    width: 930px;
    left: 152px;
    height: 400px;
    background: #fff;
    line-height: 14px;
    padding: 10px 20px 20px;
    border: 1px solid #333;
    border-top: 0;
    display: none;
    z-index: 11; }
    #leaderNav .allGoodsModel h3 {
      color: #333;
      border-bottom: 1px solid #999;
      font-size: 14px;
      line-height: 35px;
      font-weight: bold; }
    #leaderNav .allGoodsModel a {
      margin-top: 12px;
      font-size: 13px;
      color: #666;
      border-right: 1px solid #ccc;
      padding: 0 8px 0 10px;
      display: inline-block; }
      #leaderNav .allGoodsModel a:hover {
        text-decoration: underline; }
    #leaderNav .allGoodsModel .cloth {
      width: 610px; }
      #leaderNav .allGoodsModel .cloth .womanCloth, #leaderNav .allGoodsModel .cloth .manCloth, #leaderNav .allGoodsModel .cloth .insideCloth, #leaderNav .allGoodsModel .cloth .qualityShoe {
        width: 305px;
        height: 200px;
        padding: 0 25px 10px 5px; }
  #leaderNav ul:first-of-type > li {
    padding-left: 10px;
    height: 40px;
    width: 160px;
    background: rgba(15, 15, 15, 0.82);
    line-height: 40px;
    position: relative; }
    #leaderNav ul:first-of-type > li:hover {
      background: #888; }
    #leaderNav ul:first-of-type > li i {
      vertical-align: middle;
      padding: 0 12px 0 11px; }
    #leaderNav ul:first-of-type > li i {
      color: #fff; }
  #leaderNav ul:first-of-type {
    margin-top: 42px;
    position: absolute;
    z-index: 14; }
    #leaderNav ul:first-of-type li > a {
      width: 70px;
      height: 30px;
      color: #fff;
      line-height: 30px;
      display: inline-block;
      font-size: 14px; }
  #leaderNav .navLeader {
    z-index: 10;
    padding-left: 190px; }
    #leaderNav .navLeader li a {
      padding: 0 20px;
      font-weight: bold;
      line-height: 40px;
      height: 40px;
      font-size: 14px;
      color: #333; }
      #leaderNav .navLeader li a:hover {
        color: red; }

#footer {
  background: #fff; }
  #footer .container:first-of-type {
    width: 1196px; }
    #footer .container:first-of-type .safeGuard {
      padding: 40px 0; }
      #footer .container:first-of-type .safeGuard ul li {
        width: 299px; }
        #footer .container:first-of-type .safeGuard ul li i {
          font-size: 50px;
          font-weight: bold;
          margin-right: 10px; }
        #footer .container:first-of-type .safeGuard ul li p {
          display: inline-block; }
          #footer .container:first-of-type .safeGuard ul li p strong {
            display: block;
            font-weight: bold;
            font-size: 18px; }
          #footer .container:first-of-type .safeGuard ul li p span {
            display: block; }
  #footer .container:nth-of-type(2) {
    width: 1196px;
    border-top: 1px solid #f6f6f6;
    padding: 40px 0 90px 0; }
    #footer .container:nth-of-type(2) ul li {
      height: 128px;
      width: 136px;
      border-right: 1px solid #f6f6f6;
      padding-left: 40px; }
      #footer .container:nth-of-type(2) ul li:first-of-type {
        width: 246px; }
      #footer .container:nth-of-type(2) ul li:last-of-type {
        border: 0 none; }
      #footer .container:nth-of-type(2) ul li span {
        font-size: 14px;
        margin-right: 10px; }
      #footer .container:nth-of-type(2) ul li i {
        font-size: 32px;
        margin-right: 10px; }
        #footer .container:nth-of-type(2) ul li i:first-of-type {
          color: red; }
        #footer .container:nth-of-type(2) ul li i:nth-of-type(2) {
          color: green; }
        #footer .container:nth-of-type(2) ul li i:nth-of-type(3) {
          color: blue; }
      #footer .container:nth-of-type(2) ul li dl dt {
        font-size: 18px;
        margin-bottom: 20px; }
      #footer .container:nth-of-type(2) ul li dl dd {
        margin-bottom: 10px; }
        #footer .container:nth-of-type(2) ul li dl dd a {
          color: #333; }
          #footer .container:nth-of-type(2) ul li dl dd a:hover {
            text-decoration: underline; }
      #footer .container:nth-of-type(2) ul li p {
        text-align: center;
        margin-top: 10px; }
  #footer .bottom {
    width: 100%;
    height: 153px;
    background: #333;
    text-align: center;
    color: #c2c2c2;
    padding: 20px 0; }
    #footer .bottom a {
      line-height: 26px; }
      #footer .bottom a:hover {
        text-decoration: underline; }
    #footer .bottom .secondLine a, #footer .bottom .secondLine span {
      margin-right: 20px; }
      #footer .bottom .secondLine a img, #footer .bottom .secondLine span img {
        height: 20px; }

#indexRight {
  position: absolute;
  right: 200px;
  top: 620px; }
  #indexRight ul {
    height: 243px;
    background: #fff; }
    #indexRight ul li {
      width: 62px;
      height: 62px;
      border-bottom: 1px solid #eee;
      text-align: center;
      line-height: 61px;
      position: relative; }
      #indexRight ul li:last-of-type {
        border-bottom: 0 none; }
      #indexRight ul li a {
        display: inline-block;
        width: 100%; }
        #indexRight ul li a:hover {
          color: #de2634;
          background: #eee; }
      #indexRight ul li:first-of-type:hover .qianbao {
        display: block; }
      #indexRight ul li:first-of-type .qianbao {
        font-size: 12px;
        display: none;
        position: absolute;
        left: -92px;
        top: 0;
        background: #fff;
        width: 80px;
        padding: 10px;
        border-radius: 4px; }
        #indexRight ul li:first-of-type .qianbao span {
          display: block;
          line-height: 20px; }
        #indexRight ul li:first-of-type .qianbao i {
          position: absolute;
          border-right: 15px solid transparent;
          border-top: 15px solid #fff;
          right: -7px;
          top: 15px;
          transform: rotate(134deg); }
