body {
  background: #fff; }

#docHead .container {
  height: 100px; }
  #docHead .container a {
    width: 330px;
    height: 60px;
    display: inline-block; }

#mycar .m-mycar h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px; }

#mycar .m-mycar .m-mycar-property {
  height: 36px;
  border: 1px solid #eee;
  color: #999; }
  #mycar .m-mycar .m-mycar-property div {
    padding: 0 10px;
    line-height: 36px; }
  #mycar .m-mycar .m-mycar-property .allSelect {
    width: 134px; }
  #mycar .m-mycar .m-mycar-property .goodsInfo {
    width: 422px; }
  #mycar .m-mycar .m-mycar-property .goodsSinglePrice {
    width: 150px; }
  #mycar .m-mycar .m-mycar-property .goodsMount {
    width: 147px; }
  #mycar .m-mycar .m-mycar-property .goodsAllPrice {
    width: 128px; }
  #mycar .m-mycar .m-mycar-property .operate {
    width: 107px; }

#mycar .m-mycar .my-goods {
  margin-top: 20px; }
  #mycar .m-mycar .my-goods .my-goods-title {
    padding: 0 20px;
    margin-bottom: 20px; }
    #mycar .m-mycar .my-goods .my-goods-title a {
      font-weight: bold;
      font-size: 14px;
      color: #333; }
      #mycar .m-mycar .my-goods .my-goods-title a:hover {
        text-decoration: underline;
        color: #de2634; }
  #mycar .m-mycar .my-goods .my-goods-youhui {
    line-height: 39px;
    padding: 0 20px;
    border: 1px solid #eaeaea;
    border-bottom: none;
    color: #999;
    font-size: 14px; }
    #mycar .m-mycar .my-goods .my-goods-youhui:last-of-type {
      border: 1px solid #eaeaea;
      border-top: none; }
      #mycar .m-mycar .my-goods .my-goods-youhui:last-of-type div {
        margin-right: 20px; }
  #mycar .m-mycar .my-goods .my-goods-info {
    border: 1px solid #eaeaea;
    padding: 20px;
    height: auto; }
    #mycar .m-mycar .my-goods .my-goods-info .my-goods-info-left > input {
      height: 82px; }
    #mycar .m-mycar .my-goods .my-goods-info .my-goods-info-left {
      width: 510px; }
      #mycar .m-mycar .my-goods .my-goods-info .my-goods-info-left a {
        position: relative;
        width: 80px;
        height: 80px;
        overflow: hidden; }
      #mycar .m-mycar .my-goods .my-goods-info .my-goods-info-left .goods-title {
        margin-left: 15px;
        width: 220px;
        padding-right: 30px;
        float: left; }
        #mycar .m-mycar .my-goods .my-goods-info .my-goods-info-left .goods-title h3 {
          font-weight: normal;
          line-height: normal;
          font-size: 12px;
          color: #999; }
    #mycar .m-mycar .my-goods .my-goods-info .my-goods-info-right {
      padding-left: 30px;
      width: 500px;
      height: 82px; }
      #mycar .m-mycar .my-goods .my-goods-info .my-goods-info-right .goods-pri {
        margin-right: 65px; }
      #mycar .m-mycar .my-goods .my-goods-info .my-goods-info-right .your-mount-right {
        user-select: none;
        margin-right: 65px; }
        #mycar .m-mycar .my-goods .my-goods-info .my-goods-info-right .your-mount-right span {
          border: 1px solid #999;
          margin: 0;
          height: 22px;
          line-height: 16px;
          width: 23px;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
          cursor: pointer; }
        #mycar .m-mycar .my-goods .my-goods-info .my-goods-info-right .your-mount-right input {
          border: 1px solid #999;
          border-left: 0;
          border-right: 0;
          width: 48px;
          height: 22px;
          padding: 4px 5px;
          text-align: center; }
