.xiding#xiding {
  position: absolute;
  top: 0;
  display: none;
  height: 50px;
  width: 100%;
  background: #fff;
  z-index: 15; }
  .xiding#xiding .container {
    height: 50px;
    padding: 0; }
    .xiding#xiding .container .search {
      width: 511px;
      height: 36px;
      background: #333;
      padding: 0 0 0 2px;
      position: relative;
      left: 330px;
      top: 6px; }
      .xiding#xiding .container .search .wrap {
        background: #fff;
        height: 32px;
        width: 458px;
        margin-top: 2px; }
        .xiding#xiding .container .search .wrap .searchInput {
          margin-top: 4px;
          width: 423px;
          height: 24px;
          line-height: 24px; }
        .xiding#xiding .container .search .wrap i {
          color: #999;
          font-size: 16px;
          display: inline-block;
          position: static;
          padding-left: 5px; }
      .xiding#xiding .container .search i {
        font-size: 23px;
        color: #fff;
        position: absolute;
        right: 15px;
        top: 7px;
        cursor: pointer; }
      .xiding#xiding .container .search .goodsSearch li:first-of-type {
        color: red; }
      .xiding#xiding .container .search .goodsSearch li a {
        line-height: 22px; }
        .xiding#xiding .container .search .goodsSearch li a:hover {
          text-decoration: underline; }
      .xiding#xiding .container .search .goodsSearch li span {
        display: inline-block;
        padding: 0 10px; }

#indexLeft {
  position: absolute;
  top: 618px;
  left: 8%;
  width: 99px;
  height: 480px;
  background: #fff;
  text-align: center; }
  #indexLeft a {
    height: 35px;
    width: 99px;
    border-bottom: 1px solid #eee;
    display: inline-block;
    line-height: 35px;
    font-weight: bold;
    font-size: 14px; }
    #indexLeft a:first-of-type {
      height: 50px; }
    #indexLeft a:hover {
      color: #de2634;
      background: #eee; }
  #indexLeft ul:first-of-type li {
    width: 100%; }
    #indexLeft ul:first-of-type li a {
      border-bottom: 0;
      font-size: 12px;
      font-weight: normal;
      height: 28px;
      line-height: 28px; }

#carousel .bannerbox {
  margin: 0 auto;
  position: relative; }
  #carousel .bannerbox .bannerList {
    position: relative;
    height: 400px;
    margin: 0 auto; }
    #carousel .bannerbox .bannerList a {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0); }
  #carousel .bannerbox .numNav {
    position: absolute;
    bottom: 20px;
    width: 180px;
    left: 50%;
    z-index: 9; }
    #carousel .bannerbox .numNav li {
      border-radius: 50%;
      background: rgba(15, 15, 15, 0.82);
      display: inline-block;
      width: 20px;
      height: 20px;
      color: #fff;
      cursor: pointer;
      text-align: center;
      line-height: 20px;
      margin-right: 10px; }
  #carousel .bannerbox .toRight {
    display: none;
    width: 30px;
    height: 100px;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    color: #f4f4f4;
    position: absolute;
    top: -230px;
    right: -400px;
    cursor: pointer;
    z-index: 99;
    opacity: 0.4; }
  #carousel .bannerbox .toLeft {
    display: none;
    width: 30px;
    height: 100px;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    color: #f4f4f4;
    position: absolute;
    top: -230px;
    left: -300px;
    cursor: pointer;
    z-index: 99;
    opacity: 0.4; }

#promise {
  background: #fff; }
  #promise a {
    height: 46px;
    font-size: 12px;
    margin-right: 40px;
    line-height: 44px;
    color: #999; }
  #promise a:last-of-type {
    color: #f00; }
    #promise a:last-of-type:hover {
      text-decoration: underline; }

#newGoods {
  background: #f6f6f6; }
  #newGoods .container {
    padding-top: 20px;
    height: 240px; }
    #newGoods .container ul li {
      margin-right: 10px; }
      #newGoods .container ul li:last-of-type {
        margin-right: 0; }

#main {
  background: #f6f6f6; }
  #main .container .today .title {
    margin: 37px 0 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #000; }
    #main .container .today .title h2 {
      color: #000;
      font-size: 25px;
      font-weight: bold;
      display: inline-block;
      margin-right: 5px; }
    #main .container .today .title span {
      font-size: 14px;
      color: #999; }
    #main .container .today .title a {
      color: #333;
      height: 33px;
      line-height: 40px; }
      #main .container .today .title a:hover {
        text-decoration: underline; }
    #main .container .today .title .motherHot {
      display: inline-block; }
      #main .container .today .title .motherHot li {
        height: 32px;
        line-height: 56px; }
        #main .container .today .title .motherHot li span {
          padding: 0 5px; }
  #main .container .today .limitGoods ul {
    width: 869px; }
    #main .container .today .limitGoods ul li {
      width: 434px;
      background: #fff;
      margin: 0 1px 1px 0; }
      #main .container .today .limitGoods ul li:nth-of-type(even) {
        margin-right: 0; }
      #main .container .today .limitGoods ul li .right {
        position: relative;
        width: 205px;
        height: 188px; }
        #main .container .today .limitGoods ul li .right h3 a {
          position: static;
          border: 0;
          color: #333; }
        #main .container .today .limitGoods ul li .right h3:hover {
          text-decoration: underline;
          cursor: pointer; }
        #main .container .today .limitGoods ul li .right h3:first-of-type {
          color: #333;
          height: 21px;
          font-weight: bold;
          margin: 20px 0 6px; }
        #main .container .today .limitGoods ul li .right h3:nth-of-type(2) {
          margin-bottom: 20px; }
        #main .container .today .limitGoods ul li .right p:first-of-type {
          margin-bottom: 5px; }
          #main .container .today .limitGoods ul li .right p:first-of-type span {
            font-size: 24px;
            color: #de2634;
            font-weight: bold; }
          #main .container .today .limitGoods ul li .right p:first-of-type del {
            color: #999; }
        #main .container .today .limitGoods ul li .right p:nth-of-type(2) {
          color: #de2634; }
        #main .container .today .limitGoods ul li .right a {
          color: #de2634;
          line-height: 15px;
          height: 26px;
          text-align: center;
          border: 1px solid #de2634;
          position: absolute;
          bottom: 20px;
          right: 0;
          padding: 5px 10px; }
  #main .container .today .newGoodss {
    width: 1092px; }
    #main .container .today .newGoodss li {
      width: 182px;
      height: 231px;
      overflow: hidden;
      text-overflow: ellipsis;
      background: #fff;
      border-right: 1px solid #f6f6f6;
      border-bottom: 1px solid #f6f6f6; }
      #main .container .today .newGoodss li:first-of-type {
        text-align: center;
        border-right: 1px solid #fff; }
        #main .container .today .newGoodss li:first-of-type p:last-of-type {
          color: #e31436;
          font-size: 18px; }
        #main .container .today .newGoodss li:first-of-type img {
          margin: 40px 0 16px 0; }
      #main .container .today .newGoodss li img {
        margin: 12px; }
      #main .container .today .newGoodss li a {
        color: #333;
        white-space: nowrap; }
        #main .container .today .newGoodss li a:first-of-type {
          display: inline-block; }
        #main .container .today .newGoodss li a:hover {
          text-decoration: underline; }
      #main .container .today .newGoodss li p {
        text-align: center; }
        #main .container .today .newGoodss li p span:first-of-type {
          font-size: 16px;
          font-weight: bold;
          color: #de2634; }
        #main .container .today .newGoodss li p span:nth-of-type(2) {
          color: #ccc; }
  #main .container .today .hotgrand .left {
    width: 181px;
    height: 237px;
    background: #f00; }
  #main .container .today .hotgrand .right {
    width: 910px;
    margin-right: -1px; }
    #main .container .today .hotgrand .right li {
      width: 182px;
      height: auto;
      text-align: center;
      background: #fff;
      border-right: 1px solid #f6f6f6;
      border-bottom: 1px solid #f6f6f6; }
      #main .container .today .hotgrand .right li img {
        margin-bottom: 20px; }
  #main .container .today .motherOwn .ownLeft .monLeft {
    display: inline-block;
    position: relative; }
    #main .container .today .motherOwn .ownLeft .monLeft .motherChild {
      width: 220px;
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 15px;
      margin-top: 30px; }
      #main .container .today .motherOwn .ownLeft .monLeft .motherChild li {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background: #fff;
        text-align: center;
        margin: 0 10px 5px 0; }
        #main .container .today .motherOwn .ownLeft .monLeft .motherChild li span {
          line-height: 58px;
          color: #333; }
  #main .container .today .motherOwn .ownCenter ul {
    width: 600px; }
    #main .container .today .motherOwn .ownCenter ul li {
      background: #fff;
      width: 300px;
      height: 221px;
      text-align: center;
      padding-top: 20px;
      border: 1px solid #f6f6f6;
      border-left: 0 none;
      border-top: 0 none; }
      #main .container .today .motherOwn .ownCenter ul li h3 {
        font-size: 16px;
        font-weight: bold; }
      #main .container .today .motherOwn .ownCenter ul li p {
        margin-bottom: 19px;
        color: #999; }
  #main .container .today .motherOwn .ownRight {
    padding: 0 20px 0 24px;
    background: #fff;
    height: 442px;
    overflow: hidden; }
    #main .container .today .motherOwn .ownRight h3 {
      font-size: 16px;
      font-weight: bold;
      height: 50px;
      line-height: 40px;
      padding-top: 10px; }
    #main .container .today .motherOwn .ownRight .rightHot {
      width: 200px;
      height: 383px;
      position: relative; }
      #main .container .today .motherOwn .ownRight .rightHot ul {
        display: none; }
        #main .container .today .motherOwn .ownRight .rightHot ul:first-of-type {
          display: block; }
        #main .container .today .motherOwn .ownRight .rightHot ul li {
          border-bottom: 1px solid #f6f6f6;
          padding-bottom: 10px;
          margin-bottom: 10px; }
          #main .container .today .motherOwn .ownRight .rightHot ul li:last-of-type {
            border-bottom: 0 none; }
          #main .container .today .motherOwn .ownRight .rightHot ul li a {
            display: inline-block; }
          #main .container .today .motherOwn .ownRight .rightHot ul li .rightHotRight {
            display: inline-block;
            width: 125px; }
            #main .container .today .motherOwn .ownRight .rightHot ul li .rightHotRight h4 {
              line-height: 16px;
              margin-bottom: 10px; }
              #main .container .today .motherOwn .ownRight .rightHot ul li .rightHotRight h4 a {
                color: #333; }
                #main .container .today .motherOwn .ownRight .rightHot ul li .rightHotRight h4 a:hover {
                  text-decoration: underline; }
            #main .container .today .motherOwn .ownRight .rightHot ul li .rightHotRight p span {
              color: #de2634; }
            #main .container .today .motherOwn .ownRight .rightHot ul li .rightHotRight p del {
              color: #999; }
      #main .container .today .motherOwn .ownRight .rightHot .ownRightIndex {
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translate(-50%, -50%); }
        #main .container .today .motherOwn .ownRight .rightHot .ownRightIndex span {
          display: inline-block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          border: 1px solid #999;
          margin-right: 5px;
          cursor: pointer; }
  #main .container .today .guessYourLike {
    padding-bottom: 80px; }
    #main .container .today .guessYourLike ul {
      background: #fff; }
      #main .container .today .guessYourLike ul li {
        width: 272px;
        height: 350px;
        border-right: 1px solid #f6f6f6; }
        #main .container .today .guessYourLike ul li a {
          display: inline-block;
          color: #333; }
          #main .container .today .guessYourLike ul li a:hover {
            text-decoration: underline; }
          #main .container .today .guessYourLike ul li a img {
            width: 271px; }
        #main .container .today .guessYourLike ul li .yourLikeB {
          padding: 0 15px; }
          #main .container .today .guessYourLike ul li .yourLikeB .price {
            margin-top: 10px; }
            #main .container .today .guessYourLike ul li .yourLikeB .price a {
              color: #999; }
            #main .container .today .guessYourLike ul li .yourLikeB .price span:first-of-type {
              color: #de2634;
              font-size: 20px;
              font-weight: bold; }
        #main .container .today .guessYourLike ul li:last-of-type {
          border: 0 none; }
  #main .container .hotSellBrand {
    margin-top: 10px;
    border: 1px solid #eaeaea; }
    #main .container .hotSellBrand ul {
      background: #fff; }
      #main .container .hotSellBrand ul li {
        margin-left: 12px;
        height: 108px; }
        #main .container .hotSellBrand ul li:first-of-type {
          width: 118px;
          height: 108px;
          text-align: center;
          line-height: 108px;
          font-weight: bold;
          font-size: 15px;
          margin-left: 0; }
        #main .container .hotSellBrand ul li a {
          display: inline-block;
          width: 108px;
          height: 108px; }
