html(lang='en')
    head
        meta(charset='utf-8')
        title title
        link(rel='stylesheet', type='text/css', href='../css/common.css')
        link(rel='stylesheet', type='text/css', href='../css/details.css')
        link(rel='stylesheet', type='text/css', href='../font/font/iconfont.css')
    body
        div#kaola
            nav#topUserNav
                div.container.clearfix
                    div.left.clearfix.fl
                        ul.fl.clearfix
                            li.fl 考拉欢迎你！
                                a 登录
                                span    |
                            li.fl
                                a 免费注册
                            li.fl
                                a 手机考拉海购
                                    i(class='iconfont icon-shouji')

                    div.right.clearfix.fr
                        ul.fr.clearfix
                            li.fl
                                i(class='iconfont icon-hongqi')
                                a 每日签到
                                span    |
                            li.fl
                                a 我的订单
                                span    |
                            li.fl
                                a 个人中心
                                    i(class='iconfont icon-arrLeft-fill')
                                span    |
                            li.fl
                                a 客户服务
                                    i(class='iconfont icon-arrLeft-fill')
                                span    |
                            li.fl
                                a 充值中心
                                    i(class='iconfont icon-arrLeft-fill')
                                span    |
                            li.fl
                                a 消费者告知书
                                span    |
                            li.fl
                                a 更多
                                    i(class='iconfont icon-arrLeft-fill')
            header#SearchCar
                div.container.clearfix
                    div.bigLogo.fl
                        h1
                            a.logo(href='www.kaola.com') 网易考拉海购
                                i(class='iconfont icon-kaolalogo')
                    div.search.fl
                        div.wrap
                            i(class='iconfont icon-sousuo')
                            input(placeholder='在千万海外商品中搜索' type='text').searchInput
                        i(class='iconfont icon-sousuo')
                        ul.goodsSearch.clearfix
                            li.fl
                                a 话费充值
                            li.fl
                                span |
                                a 面膜
                            li.fl
                                span |
                                a 德运
                            li.fl
                                span |
                                a 铁元
                            li.fl
                                span |
                                a sk2
                            li.fl
                                span |
                                a 眼霜
                            li.fl
                                span |
                                a 麦片
                            li.fl
                                span |
                                a 电动牙刷
                            li.fl
                                span |
                                a 乳胶枕
                    div.goodsCar.fr
                        a.car 购物车
                            i(class='iconfont icon-gouwuche1-copy')

            nav#leaderNav
                div.container.clearfix
                    div.allGoods.fl
                        span 所有分类
                            em
                                i.fl(class='iconfont icon-henggang')
                                i.fl(class='iconfont icon-henggang')
                                i.fl(class='iconfont icon-henggang')

                    ul.includeGoods
                        li
                            i(class="iconfont icon-icon")
                            a 母婴儿童
                            i(class='iconfont icon-dayuhao')
                            div.allGoodsModel
                                div.fl.cloth.clearfix
                                    div.womanCloth.fl
                                        h3  精品女装
                                        a(href='#') T恤
                                        a(href='#') 短裤
                                        a(href='#') 半身裙
                                        a(href='#') 连衣裙
                                        a(href='#') 短外套
                                        a(href='#') 针织衫
                                        a(href='#') 卫衣
                                        a(href='#') 风衣
                                        a(href='#') 牛仔裤
                                        a(href='#') 衬衫
                                        a(href='#') 雪纺衫
                                        a(href='#') 休闲裤
                                        a(href='#') 打底裤
                                        a(href='#') 小西装
                                        a(href='#') 吊带/背心
                                        a(href='#') 马甲
                                        a(href='#') MO&amp;Co.
                                        a(href='#') DAZZLE
                                        a(href='#') d'zzit
                                        a(href='#') Five Plus
                                        a(href='#') JNBY江南布衣
                                        a(href='#') Ochirly
                                        a(href='#') La Chapelle
                                        a(href='#') ONEMORE
                                        a(href='#') cachecache
                                    div.manCloth.fl
                                        h3  精品女装
                                        a(href='#') T恤
                                        a(href='#') 短裤
                                        a(href='#') 半身裙
                                        a(href='#') 连衣裙
                                        a(href='#') 短外套
                                        a(href='#') 针织衫
                                        a(href='#') 卫衣
                                        a(href='#') 风衣
                                        a(href='#') 牛仔裤
                                        a(href='#') 衬衫
                                        a(href='#') 雪纺衫
                                        a(href='#') 休闲裤
                                        a(href='#') 打底裤
                                        a(href='#') 小西装
                                        a(href='#') 吊带/背心
                                        a(href='#') 马甲
                                        a(href='#') MO&amp;Co.
                                        a(href='#') DAZZLE
                                        a(href='#') d'zzit
                                        a(href='#') Five Plus
                                        a(href='#') JNBY江南布衣
                                        a(href='#') Ochirly


                                    div.insideCloth.fl
                                        h3  精品女装
                                        a(href='#') T恤
                                        a(href='#') 短裤
                                        a(href='#') 半身裙
                                        a(href='#') 连衣裙
                                        a(href='#') 短外套
                                        a(href='#') 针织衫
                                        a(href='#') 卫衣
                                        a(href='#') 风衣
                                        a(href='#') 牛仔裤
                                        a(href='#') 衬衫
                                        a(href='#') 雪纺衫
                                        a(href='#') 休闲裤
                                        a(href='#') 打底裤
                                        a(href='#') 小西装
                                        a(href='#') 吊带/背心
                                        a(href='#') 马甲
                                        a(href='#') MO&amp;Co.
                                        a(href='#') DAZZLE
                                        a(href='#') d'zzit
                                        a(href='#') Five Plus
                                        a(href='#') JNBY江南布衣
                                        a(href='#') Ochirly


                                    div.qualityShoe.fl
                                        h3  精品女装
                                        a(href='#') T恤
                                        a(href='#') 短裤
                                        a(href='#') 半身裙
                                        a(href='#') 连衣裙
                                        a(href='#') 短外套
                                        a(href='#') 针织衫
                                        a(href='#') 卫衣
                                        a(href='#') 风衣
                                        a(href='#') 牛仔裤
                                        a(href='#') 衬衫
                                        a(href='#') 雪纺衫
                                        a(href='#') 休闲裤
                                        a(href='#') 打底裤
                                        a(href='#') 小西装
                                        a(href='#') 吊带/背心
                                        a(href='#') 马甲
                                        a(href='#') MO&amp;Co.
                                        a(href='#') DAZZLE
                                        a(href='#') d'zzit
                                        a(href='#') Five Plus
                                        a(href='#') JNBY江南布衣
                                        a(href='#') Ochirly


                        li
                            i(class="iconfont icon-iconfontmeirongxihu")
                            a 美容彩妆
                            i(class='iconfont icon-dayuhao')

                        li
                            i(class="iconfont icon-shechipin")
                            a 轻奢
                            i(class='iconfont icon-dayuhao')

                        li
                            i(class="iconfont icon-jiaju")
                            a 家居个护
                            i(class='iconfont icon-dayuhao')

                        li
                            i(class="iconfont icon-yingyang")
                            a 营养保健
                            i(class='iconfont icon-dayuhao')

                        li
                            i(class="iconfont icon-shoubiao")
                            a 手表配饰
                            i(class='iconfont icon-dayuhao')

                        li
                            i(class="iconfont icon-shuma")
                            a 数码家电
                            i(class='iconfont icon-dayuhao')

                        li
                            i(class="iconfont icon-meishi")
                            a 环球美食
                            i(class='iconfont icon-dayuhao')

                        li
                            i(class="iconfont icon-yundong")
                            a 运动户外
                            i(class='iconfont icon-dayuhao')

                        li
                            i(class="iconfont icon-fushixiebao")
                            a 服饰鞋靴
                            i(class='iconfont icon-dayuhao')
                    ul.navLeader.clearfix.fl
                        li.fl
                            a 首页
                        li.fl
                            a 今日限时购
                        li.fl
                            a 每日上新
                        li.fl
                            a 国家馆
                        li.fl
                            a 全球旗舰
                        li.fl
                            a 工厂店
                        li.fl
                            a 品质奶粉
                        li.fl
                            a 人气面膜
                        li.fl
                            a 充值
            article#mainDetails
                div.container
                    div.direDetails.clearfix
                        span.fl    服装
                        span.fl    &nbsp;>&nbsp;
                        div.fl.allKind     内衣
                            i(class='iconfont icon-arrLeft-fill')
                        span.fl    &nbsp;>&nbsp;
                        div.fl.allKind     睡衣/家居服套装
                            i(class='iconfont icon-arrLeft-fill')
                        span.fl    &nbsp;>&nbsp;
                        div.fl.allKind     暖暖悠质
                            i(class='iconfont icon-arrLeft-fill')
                        span.fl    &nbsp;>&nbsp;
                        span.fl    考拉工厂店 女式绵柔亲肤纯棉家居服套装
                        span.fr
                            a(href='#') 领途运动专营店
                            a(href='#') 进店看看&gt;
                    div.productDetails.clearfix
                        div.leftDetails.fl
                            div.top
                                ul.clearfix
                                    li.fl
                                        img(src='//pop.nosdn.127.net/5191f569-0f61-4b8d-b9ea-d0e845d32961?imageView&thumbnail=800x0&quality=85')
                                    li.fl
                                        img(src='../imgs/details1.jpg')
                                    li.fl
                                        img(src='../imgs/details1.jpg')
                                    li.fl
                                        img(src='//pop.nosdn.127.net/5191f569-0f61-4b8d-b9ea-d0e845d32961?imageView&thumbnail=800x0&quality=85')
                                div.floatBox
                            div.bigBox.fl
                                ul.clearfix
                                    li
                                        img(src='//pop.nosdn.127.net/5191f569-0f61-4b8d-b9ea-d0e845d32961?imageView&thumbnail=800x0&quality=85')
                                    li
                                        img(src='../imgs/details1.jpg')
                                    li
                                        img(src='../imgs/details1.jpg')
                                    li
                                        img(src='//pop.nosdn.127.net/5191f569-0f61-4b8d-b9ea-d0e845d32961?imageView&thumbnail=800x0&quality=85')
                            div.bottom
                                ul.clearfix
                                    li.fl.left
                                        a(class='#')    &lt;
                                    li.fl.pic
                                        img(src='../imgs/details1.jpg')
                                    li.fl.pic
                                        img(src='../imgs/details1.jpg')
                                    li.fl.pic
                                        img(src='../imgs/details1.jpg')
                                    li.fl.pic
                                        img(src='../imgs/details1.jpg')
                                    li.fl.right
                                        a(class='#')    &gt;
                        div.rightDetails.fl
                            dl
                                dt.orig-country

                                    img(src='//haitao.nos.netease.com/1077833fa2854dcb97502084f24f449d1419659976324i46kw8bh10001.png?imageView&thumbnail=48x0&quality=85')
                                    a(href='#') NIKE 耐克

                                dt.goods-title 耐克 NIKE TANJUN PREM 黑白男女同款情侣休闲跑步鞋 812654 812655-011
                                dt.goods-desc Nike Tanjun 男子运动鞋的名称源于日语中的“简约”一词，以利落时尚外观打造格调高雅的日常休闲鞋款。 透气织物鞋面，轻盈舒适 泡棉中底/外底，营造轻盈缓震效果。
                                dd.limit-time
                                    span 限时购
                                dd.price-sale
                                    div.my-price.clearfix
                                        div.my-price-left.fl
                                            span 售价
                                        div.my-price-right.fl.clearfix
                                            span.fl    ￥39.00
                                            p.fl   参考价
                                                span    ￥79.00
                                        div.my-vip
                                            img(src='//haitao.nos.netease.com/4ff37eb9-e315-414f-a6c3-10fa35f35df3.png')
                                            span    黑卡下单再享96折
                                            a(href='#')    开通黑卡
                                dd.activity.clearfix
                                    div.activity-left.fl
                                        span 活动
                                    div.activity-right.fl
                                        span    特价
                                        span    618开幕盛典
                                dd.yun-fei.clearfix
                                    div.yun-fei-left.fl
                                        span 运费
                                    div.yun-fei-right.fl
                                        span 至
                                            div.m-addr.fr
                                                span    广东/广州市/荔湾区

                                dd.server.clearfix
                                    div.server-left.fl
                                        span 服务
                                    div.server-right.fl
                                        span    本商品由
                                        span    自营国内仓
                                        span    发货
                                        div.server-bottom
                                            span 24:00&nbsp;&nbsp;前完成支付，预计
                                            span 6月5日(周二)
                                            span 送达
                                dd.your-size.clearfix
                                    div.your-size-left.fl
                                        span 尺码
                                    div.your-size-right.fl
                                        ul.clearfix
                                            li.fl
                                                span XS
                                            li.fl
                                                span S
                                            li.fl
                                                span M
                                            li.fl
                                                span L
                                dd.your-color.clearfix
                                    div.your-color-left.fl
                                        span 颜色
                                    div.your-color-right.fl
                                        ul.clearfix
                                            li.fl
                                                span
                                                    img(src='//pop.nosdn.127.net/aea98bb6-4c67-4b92-b1b4-dfff9c93676b?imageView&thumbnail=50x0&quality=85')
                                            li.fl
                                                span
                                                    img(src='//pop.nosdn.127.net/aea98bb6-4c67-4b92-b1b4-dfff9c93676b?imageView&thumbnail=50x0&quality=85')
                                            li.fl
                                                span
                                                    img(src='//pop.nosdn.127.net/aea98bb6-4c67-4b92-b1b4-dfff9c93676b?imageView&thumbnail=50x0&quality=85')
                                            li.fl
                                                span
                                                    img(src='//pop.nosdn.127.net/aea98bb6-4c67-4b92-b1b4-dfff9c93676b?imageView&thumbnail=50x0&quality=85')

                                dd.mount.clearfix
                                    div.your-mount-left.fl
                                        span 数量
                                    div.your-mount-right.fl
                                        span.fl    -
                                        input(type='text' value='1').fl
                                        span.fl    +
                                dd.explain.clearfix
                                    div.your-explain-left
                                        span 说明
                                        span 支持7天无忧退货
                                    div.your-explain-right.clearfix
                                        a(href='#').fl 立即购买
                                        a(href='#').fl 加入购物车
                                        a(href='#').fl  收藏
                                    div.your-explain-right#jiaru
                                dd.evaluate.clearfix
                                    p.fl
                                        span    97%
                                    p.fl
                                        span    72人评价
                                    p.fl
                                        span    2人晒单
                    div.activity-618
                        a(href='#')
                            img(src='//haitao.nosdn2.127.net/1ceoqrr7543_1090_80.jpg?imageView&thumbnail=1090x80&quality=85')
                    div.recommend
                        h3  相关推荐
                        ul.clearfix
                            li.fl
                                img(src='//pop.nosdn.127.net/1b25200f-3aa2-4268-91e6-76b5c9eebf04?imageView&thumbnail=430x0&quality=85')
                                div.recommend-bottom
                                    h4
                                        a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                    p
                                        span    ￥133
                                        del     $888
                                    span    53人已评价
                            li.fl
                                img(src='//pop.nosdn.127.net/1b25200f-3aa2-4268-91e6-76b5c9eebf04?imageView&thumbnail=430x0&quality=85')
                                div.recommend-bottom
                                    h4
                                        a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                    p
                                        span    ￥133
                                        del     $888
                                    span    53人已评价
                            li.fl
                                img(src='//pop.nosdn.127.net/1b25200f-3aa2-4268-91e6-76b5c9eebf04?imageView&thumbnail=430x0&quality=85')
                                div.recommend-bottom
                                    h4
                                        a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                    p
                                        span    ￥133
                                        del     $888
                                    span    53人已评价
                            li.fl
                                img(src='//pop.nosdn.127.net/1b25200f-3aa2-4268-91e6-76b5c9eebf04?imageView&thumbnail=430x0&quality=85')
                                div.recommend-bottom
                                    h4
                                        a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                    p
                                        span    ￥133
                                        del     $888
                                    span    53人已评价
                            li.fl
                                img(src='//pop.nosdn.127.net/1b25200f-3aa2-4268-91e6-76b5c9eebf04?imageView&thumbnail=430x0&quality=85')
                                div.recommend-bottom
                                    h4
                                        a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                    p
                                        span    ￥133
                                        del     $888
                                    span    53人已评价
                            li.fl
                                img(src='//pop.nosdn.127.net/1b25200f-3aa2-4268-91e6-76b5c9eebf04?imageView&thumbnail=430x0&quality=85')
                                div.recommend-bottom
                                    h4
                                        a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                    p
                                        span    ￥133
                                        del     $888
                                    span    53人已评价
                    div.goodsDetails.clearfix
                        div.goodsDetailsLeft.fl
                            div.topLeft
                                div.imgBar
                                    img(src='//pop.nosdn.127.net/108a8ded-1378-40c9-a0c8-f9fe108d23da?imageView&thumbnail=90x0&quality=85')
                                div.nameBar
                                    p   韩都衣舍旗舰店
                                    p
                                        a(href='#') 进店看看
                            div.linkLeft
                                ul
                                    li
                                        h3  热销排行榜
                                    li
                                        img(src='//pop.nosdn.127.net/43f47ae5-3e8b-4239-bd53-33b32b1e999f?imageView&thumbnail=158x0&quality=85')
                                        div.recommend-bottom
                                            h4
                                                a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                            p
                                                span    ￥133
                                                del     $888
                                            span    53人已评价
                                    li
                                        img(src='//pop.nosdn.127.net/43f47ae5-3e8b-4239-bd53-33b32b1e999f?imageView&thumbnail=158x0&quality=85')
                                        div.recommend-bottom
                                            h4
                                                a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                            p
                                                span    ￥133
                                                del     $888
                                            span    53人已评价
                                    li
                                        img(src='//pop.nosdn.127.net/43f47ae5-3e8b-4239-bd53-33b32b1e999f?imageView&thumbnail=158x0&quality=85')
                                        div.recommend-bottom
                                            h4
                                                a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                            p
                                                span    ￥133
                                                del     $888
                                            span    53人已评价
                                    li
                                        img(src='//pop.nosdn.127.net/43f47ae5-3e8b-4239-bd53-33b32b1e999f?imageView&thumbnail=158x0&quality=85')
                                        div.recommend-bottom
                                            h4
                                                a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                            p
                                                span    ￥133
                                                del     $888
                                            span    53人已评价
                                    li
                                        img(src='//pop.nosdn.127.net/43f47ae5-3e8b-4239-bd53-33b32b1e999f?imageView&thumbnail=158x0&quality=85')
                                        div.recommend-bottom
                                            h4
                                                a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                            p
                                                span    ￥133
                                                del     $888
                                            span    53人已评价
                                    li
                                        img(src='//pop.nosdn.127.net/43f47ae5-3e8b-4239-bd53-33b32b1e999f?imageView&thumbnail=158x0&quality=85')
                                        div.recommend-bottom
                                            h4
                                                a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                            p
                                                span    ￥133
                                                del     $888
                                            span    53人已评价
                            div.linkLeft
                                ul
                                    li
                                        h3  看了又看
                                    li
                                        img(src='//pop.nosdn.127.net/43f47ae5-3e8b-4239-bd53-33b32b1e999f?imageView&thumbnail=158x0&quality=85')
                                        div.recommend-bottom
                                            h4
                                                a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                            p
                                                span    ￥133
                                                del     $888
                                            span    53人已评价
                                    li
                                        img(src='//pop.nosdn.127.net/43f47ae5-3e8b-4239-bd53-33b32b1e999f?imageView&thumbnail=158x0&quality=85')
                                        div.recommend-bottom
                                            h4
                                                a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                            p
                                                span    ￥133
                                                del     $888
                                            span    53人已评价
                                    li
                                        img(src='//pop.nosdn.127.net/43f47ae5-3e8b-4239-bd53-33b32b1e999f?imageView&thumbnail=158x0&quality=85')
                                        div.recommend-bottom
                                            h4
                                                a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                            p
                                                span    ￥133
                                                del     $888
                                            span    53人已评价
                                    li
                                        img(src='//pop.nosdn.127.net/43f47ae5-3e8b-4239-bd53-33b32b1e999f?imageView&thumbnail=158x0&quality=85')
                                        div.recommend-bottom
                                            h4
                                                a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                            p
                                                span    ￥133
                                                del     $888
                                            span    53人已评价
                                    li
                                        img(src='//pop.nosdn.127.net/43f47ae5-3e8b-4239-bd53-33b32b1e999f?imageView&thumbnail=158x0&quality=85')
                                        div.recommend-bottom
                                            h4
                                                a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                            p
                                                span    ￥133
                                                del     $888
                                            span    53人已评价
                                    li
                                        img(src='//pop.nosdn.127.net/43f47ae5-3e8b-4239-bd53-33b32b1e999f?imageView&thumbnail=158x0&quality=85')
                                        div.recommend-bottom
                                            h4
                                                a(href="#") 韩都衣舍2018新款女夏装韩版网纱百褶裙中长款a字半身裙RW8064瑒
                                            p
                                                span    ￥133
                                                del     $888
                                            span    53人已评价
                        div.goodsDetailsRight.fl
                            div.goodsDetailsRightLeader.clearfix
                                span.fl#xiangqing    商品详情
                                    i
                                    a(href='#xiangqing')
                                span.fl#pingjia    用户评价
                                    em    72
                                    i
                                    a(href='#pingjia')
                                span.fr    手机购买
                                    i(class='iconfont icon-arrLeft-fill')
                            div.goodsDetailsRightDetails
                                div.goodsProperty
                                    ul.clearfix
                                        li.fl( title="商品品牌：hstyle 韩都衣舍" class="ellipsis") 商品品牌：hstyle 韩都衣舍
                                        li.fl( title="品牌国：中国" class="ellipsis") 品牌国：中国
                                        li.fl( title="宽松型" class="ellipsis") 款式：宽松型
                                        li.fl( title="短袖" class="ellipsis" id="auto-id-1527819435438") 袖长：短袖
                                        li.fl( title="常规款" class="ellipsis" id="auto-id-1527819435369") 衣长：常规款
                                        li.fl( title="圆领" class="ellipsis") 领型：圆领
                                        li.fl( title="学生　青少年　白领　女" class="ellipsis") 适用群体：学生　青少年　白领　女
                                        li.fl( title="休闲风　简约　学院　可爱　韩版　甜美" class="ellipsis") 风格：休闲风　简约　学院　可爱　韩版　甜美
                                        li.fl( title="其他" class="ellipsis") 袖型：其他
                                        li.fl( title="学习　聚会　休闲　办公　节日　娱乐　度假" class="ellipsis") 适用场景：学习　聚会　休闲　办公　节日　娱乐　度假
                                        li.fl( title="棉　其他" class="ellipsis") 产品材质：棉　其他
                                        li.fl( title="夏" class="ellipsis") 适用季节：夏
                                        li.fl( title="印花" class="ellipsis") 流行元素：印花
                                        li.fl( title="常规" class="ellipsis") 厚度：常规
                                        li.fl( title="2018夏季" class="ellipsis") 上市时间：2018夏季
                                        li.fl( title="黑色　蓝色" class="ellipsis") 颜色：黑色　蓝色
                                        li.fl( title="XS　S　M　L" class="ellipsis") 尺码：XS　S　M　L
                                div.dropGoodsProperty
                                    div.drop
                                        a   展开
                                            i(class='iconfont icon-arrLeft-fill')
                                div.promise.clearfix
                                    div.left.fl
                                        p   真
                                    div.right.fl
                                        h3  假一赔十
                                        p   网易考拉海购每一件商品都通过严苛的品质把关，保障正品，保障品质。特推出 “假一赔十” 的正品保障政策，杜绝一切假货，让您无忧购物。
                                div.goodsPic
                                    p
                                        img(src="//pop.nosdn.127.net/e68e1034-2e4e-49b3-94df-18169d962d7b?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/a04d6c79-ec1a-45d9-9e63-bfde26c23b92?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/c58c1f7b-c9dc-454c-a122-fca4f4603b2f?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/041b31be-70f4-46a8-a416-aff959090f10?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/32a083a6-24fa-4ca1-86ba-5a46bf9563b4?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/e56534a4-1762-47e6-a3e7-6b45554a0f1e?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/e57123a9-fee3-4a88-8c79-d9bc2767338e?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/b1a90c72-cecf-42b8-b4b2-f863b5db2677?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/1d587502-a842-4ea5-9a93-091bdef6e64c?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/19099783-c0da-4c56-8aae-bcf4d7816123?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/21a1d0ab-9977-4038-825c-ed53b03cbb06?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/57d9d548-121e-4c97-b8c1-2dde2f4b89be?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/71416dab-be8e-40cf-bb09-8ec4b9ce31d2?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/a988a401-5ec7-4838-a2ec-638e3d5d82c5?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/032d1705-12f5-4ce2-8b42-8d9815e8e687?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/00b0da00-3432-42f1-80b0-4cbdeff51c08?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/02f4f1fd-92ec-4ad3-b562-53b8cf3b277f?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/2d821629-bada-41e7-9112-1b7a324eb55a?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/e7852117-6069-4b6c-9f9b-f4594a0d6236?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/bdb28f25-4982-4878-ad7a-38433d6687c4?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/42d77457-0fb6-4862-adf5-9786484674fc?imageView&amp;thumbnail=710x0&amp;quality=95")
                                    p
                                        img(src="//pop.nosdn.127.net/9c374744-4c29-498f-8937-727cb134333d?imageView&amp;thumbnail=710x0&amp;quality=95")
                            div.userAppraise
                                article.star
                                    div.starStar
                                        i   &#9733
                                        i   &#9733
                                        i   &#9733
                                        i   &#9733
                                        i   &#9733
                                        span    100.0%
                                        span    好评
                                ul.allKind
                                    li.fl   全部
                                        input(type="radio")
                                    li.fl   有图
                                        input(type="radio")
                                    li.fl   有追评
                                        input(type="radio")
                                    li.fr   有内容的评价
                                        input(type='checkbox')
                                    li.fr
                                        a(href="#") 查看所有评价
                                div.allAppraise.clearfix
                                    div.appraiseLeft.fl
                                        div.userImg
                                            img(src='//haitao.nos.netease.com/983876fe6713425b801e51cdd6db0ca9.jpeg?imageView&thumbnail=40z40')
                                    div.appraiseCenter.fl
                                        div.goodsInformation
                                            span.commendStar
                                                i   &#9733;&#9733;&#9733;&#9733;
                                            span.pic    图案：卡通动漫
                                            span.size   尺码：80
                                            span.ageU   适用年龄：6个月-3岁
                                            span.color  颜色：冰蓝
                                        div.userCommend
                                            p   很好。物流没有想象那么快，不过衣服质量不错。好评
                                            p   很好。物流没有想象那么快，不过衣服质量不错。好评
                                            p   很好。物流没有想象那么快，不过衣服质量不错。好评
                                    div.appraiseRight.fr
                                        ul
                                            li.zhan
                                                a(href='#') 赞
                                            li.phone
                                                span    Iphone 99999999
                                            li.CommendTime
                                                span    公元前 99999年


            aside#indexRight
                ul.leibiao
                    li
                        i
                        a(href='#')    签到
                        div.qianbao
                            span    每日签到
                            span    赢考拉豆
                            i
                    li
                        i
                        a(href='#')    购物车
                    li
                        i
                        a(href='#')    app
                    li
                        i
                        a(href='#')    Top
        script(src='../lib/jquery-3.2.1.js')
        script(src='../js/common.js')
        script(src='../js/index.js')
        script(src='../js/details.js')


