html(lang='en')
    head
        meta(charset='utf-8')
        title title
        link(rel='stylesheet', type='text/css', href='../css/common.css')
        link(rel='stylesheet', type='text/css', href='../css/details.css')
        link(rel='stylesheet', type='text/css', href='../css/goodsCar.css')
        link(rel='stylesheet', type='text/css', href='../font/font/iconfont.css')
    body
        div#kaola
            nav#topUserNav
                div.container.clearfix
                    div.left.clearfix.fl
                        ul.fl.clearfix
                            li.fl 考拉欢迎你！
                                a 登录
                                span    |
                            li.fl
                                a 免费注册
                            li.fl
                                a 手机考拉海购
                                    i(class='iconfont icon-shouji')

                    div.right.clearfix.fr
                        ul.fr.clearfix
                            li.fl
                                i(class='iconfont icon-hongqi')
                                a 每日签到
                                span    |
                            li.fl
                                a 我的订单
                                span    |
                            li.fl
                                a 个人中心
                                    i(class='iconfont icon-arrLeft-fill')
                                span    |
                            li.fl
                                a 客户服务
                                    i(class='iconfont icon-arrLeft-fill')
                                span    |
                            li.fl
                                a 充值中心
                                    i(class='iconfont icon-arrLeft-fill')
                                span    |
                            li.fl
                                a 消费者告知书
                                span    |
                            li.fl
                                a 更多
                                    i(class='iconfont icon-arrLeft-fill')
            header(id="docHead" class="j-indexTopFixed")
                div.container
                    a(href="https://www.kaola.com/" class="logokaola " title="网易考拉海购" data-param="zn=top")  网易考拉海购
            main#mycar
                div.container
                    div.m-mycar.clearfix
                        h3.clearfix
                            span.fl  我的购物车 1
                            span.fr(class="iptmsg" title="广东/广州市/荔湾区")  广东/广州市/荔湾区
                        div.m-mycar-property.clearfix
                            div.allSelect.fl
                                label(for='all')    全选
                                    input(type='checkbox' id='all')
                            div.goodsInfo.fl
                                span    商品信息
                            div.goodsSinglePrice.fl
                                span    单价(元)
                            div.goodsMount.fl
                                span    数量
                            div.goodsAllPrice.fl
                                span    金额(元)
                            div.operate.fl
                                span    操作
                        div.my-goods.clearfix
                            div.my-goods-title
                                input(type='checkbox')
                                a(src='#') 巴拉巴拉旗舰店
                            div.my-goods-youhui
                                span    本店再买119.50元享【满159元包邮】
                            div.my-goods-info.clearfix
                                div.my-goods-info-left.fl.clearfix
                                    input(type='checkbox').fl
                                    a(href='#').fl
                                        img(src='//pop.nosdn.127.net/1e5b2e27-e23a-457d-a3a2-bbeb5c9312b0?imageView&thumbnail=80x0&quality=85')
                                    div.goods-title.fl
                                        h3
                                            a   巴拉巴拉童装男婴新生儿时尚短袖T恤夏装2018新款卡通趣味打底衫
                                        p    支持7天无忧退货
                                        span    特价
                                    div.goods-pro.fl
                                        p(class="skuline" title="图案：卡通动漫")  图案：卡通动漫
                                        p(class="skuline" title="颜色：冰蓝")  颜色：冰蓝
                                        p(class="skuline" title="尺码：73")  尺码：73
                                        p(class="skuline" title="适用年龄：6个月-3岁")  适用年龄：6个月-3岁
                                div.my-goods-info-right.fl.clearfix
                                    div.goods-pri.fl
                                        del 79.00
                                        span    39.5
                                    div.your-mount-right.fl
                                        span.fl    -
                                        input(type='text' value='1').fl
                                        span.fl    +

                                        

                                    div.allPrice.fl
                                        span    0.00
                                    div.operate.fr
                                        a(href='#') 删除
                            div.my-goods-youhui.clearfix
                                div.clearfix.fr
                                    div.realPay.fl 活动优惠：
                                        span    0.00
                                    div.realPay.fl  商品应付总计：
                                        span    ￥0.00
                                    div.realPay.fl  预估税费：
                                        span    ￥0.00

        script(src='../lib/jquery-3.2.1.js')
        script(src='../js/common.js')
        script(src='../js/index.js')



